<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<style>
  .social-media-grid {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 20px;
    justify-content: left;
    list-style: none;
    padding: 0;
    margin: -3em 0em;
  }

  .social-media-grid li {
    text-align: left;
  }

  .social-media-grid li a {
    font-size: 1.5em;
    color: #333;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s;
  }

  .social-media-grid li a:hover {
    color: #007acc;
  }
</style>

<ul class="social-media-grid">
  <li><a href="https://github.com/sarojc23" target="_blank"><i class="fab fa-github"></i></a></li>
  <li><a href="https://twitter.com/sarojc23" target="_blank"><i class="fab fa-twitter"></i></a></li>
  <li><a href="https://www.linkedin.com/in/saroj-chand" target="_blank"><i class="fab fa-linkedin"></i></a></li>
  <li><a href="https://scholar.google.com/citations?user=jVg0RxEAAAAJ&hl=en" target="_blank"><i class="fas fa-graduation-cap"></i></a></li>
  <li><a href="https://orcid.org/0000-0002-5590-2699" target="_blank"><i class="fab fa-orcid"></i></a></li>
</ul>
