<ul class="social-media-list">
  <li>
    <a href="https://github.com/sarojc23" target="_blank">
      <i class="fab fa-github"></i> GitHub
    </a>
  </li>
  <li>
    <a href="https://twitter.com/sarojc23" target="_blank">
      <i class="fab fa-twitter"></i> Twitter
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/saroj-chand" target="_blank">
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>
  </li>
  <li>
    <a href="https://scholar.google.com/citations?user=2b1k0aYAAAAJ&hl=en" target="_blank">
      <i class="fas fa-graduation-cap"></i> Google Scholar
    </a>
  </li>
  <li>
    <a href="https://orcid.org/0000-0002-5590-2699" target="_blank">
      <i class="fab fa-orcid"></i> ORCID
    </a>
  </li>
</ul>
